@font-face {
  font-family: 'Rounded';
  src: url('resources/Fonts/Rounded.ttf') format('truetype');
}

@font-face {
  font-family: 'Salt';
  src: url('resources/Fonts/Salt.ttf') format('truetype');
}

@font-face {
  font-family: 'Masiode';
  src: url('resources/Fonts/Masiode.ttf') format('truetype')
}

body {
  background-color: #bdbdbd;
  background-image: url("resources/sea.jpg");
  background-size: 100%;
}


div.centerbox{
  height: 25px;
  width: 900px;
  background-color: #9c9c9c;
  box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.36);
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  position: relative;
  //opacity: .9;
  top: 360;
  padding: 10px 10px 10px 10px
}

#info{
  width: 910px;
  height: 50px;
  //background-color: #c79e4c;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 350px;

}

#dateInfo{
  position: absolute;
  height: inherit;
  width: 165px;
  right: 0px;
  top: 0px;
  //opacity: .5;
  //background-color: #ffffff;
}

#day{
  position: absolute;
  right: 0px;
  font-size: 27px;
  font-family: Masiode;

  text-shadow:
  -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  color: #ffffff;
}

#weather{
  height: inherit;
  width: 100px;
  position: inherit;
  //background-color: #06cf28;
  margin-left: auto;
  margin-right: auto;
}

#temperature{
  font-size: 50px;
  font-family: Masiode;
  font-weight: bolder;

  text-shadow:
  -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  color: #ffffff;
}

#conditions{
  position: absolute;
  right: 0px;
  top: 0px;
  width: 50px;
  height: 50px;
  z-index: 2;
}




#time{
  font-size: 50px;
  font-weight: bolder;
  position: relative;
  height: inherit;
  float: left;
  font-family: Masiode;
  //background-color: #06cf28;

  text-shadow:
  -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  color: #ffffff;
/*
  background-color: #595c5e;
  height: 50px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.36);
*/
}

#date{
  position: absolute;
  font-family: Masiode;
  font-size: 25px;
  bottom: -5px;
  right: 0px;
  font-weight: bolder;

  text-shadow:
  -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  color: #ffffff;
}


#searchBar {
  padding:8px 15px;
  background:rgba(50, 50, 50, 0);
  border:0px solid #595c5e;
  width: 800px;
  float: left;
  position: absolute;
  bottom: 7px;
  left: 0px;
  opacity: 1;
  text-decoration-color: #595c5e;
  font-weight: bold;
  //color: #575654;
  //margin: 100px auto 50px;

}

#searchButton {
  float: right;
  border:2px solid #207cca;
  background-color:#207cca;

  font-weight: bolder;

  padding: 6px 15px 5px;
  top: 0px;
  right: 0px;
  width: 95px;
  position: absolute;
  bottom: 2px;
  height: 45px;
}




#searchButton:hover{
  background-color:#1A609E;
  border-color: #1A609E;
}

#searchButton:active{
  background-color:#055296;
  border-color: #055296;
}




::-webkit-input-placeholder {
   color: white;
}
