@font-face {
  font-family: 'Rounded';
  src: url('resources/Rounded.ttf') format('truetype');
}

body {
  background-color: #52616b;
  //background-image: url("resources/sea.jpg");
  //background-size: 100%;
}


div.centerbox{
  height: 25px;
  width: 900px;
  background-color: #595c5e;
  box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.36);
  border-radius: 2px;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  position: relative;
  //opacity: .9;
  top: 360;
  padding: 10px 10px 10px 10px
}

#info{
  width: 910px;
  height: 50px;
  //background-color: #c79e4c;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 350px;

}

#dateInfo{
  height: inherit;
  width: 150px;
  font-weight: bolder;
  position: relative;
  float: right;
  //background-color: #06cf28;
}

#day{
  position: absolute;
  font-size: 50px;
  right: 0px;
  font-size: 20px;
  font-family: Rounded;
}

#date{
  position: absolute;;
  font-family: Rounded;
  font-size: 50px;
  font-size: 20px;
  bottom: -5px;
  right: 0px;
}

#time{
  font-size: 50px;
  font-weight: bolder;
  position: relative;
  text-align: left;
  float: left;
  font-family: Rounded;

/*
  background-color: #595c5e;
  height: 50px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 5px 5px 6px 0px rgba(0, 0, 0, 0.36);
*/
}


#searchBar {
  padding:8px 15px;
  background:rgba(50, 50, 50, 0);
  border:0px solid #595c5e;
  width: 800px;
  position: relative;
  bottom: 20px;
  opacity: 1;
  text-decoration-color: #595c5e;
  font-weight: bold;
  //color: #575654;
  //margin: 100px auto 50px;

}

#searchButton {
  border:2px solid #207cca;
  background-color:#207cca;

  padding: 6px 15px 5px;
  top: -20px;
  left: 10px;
  width: 95px;
  position: relative;
  bottom: 2px;
  height: 45px;
}




#searchButton:hover{
  background-color:#1A609E;
  border-color: #1A609E;
}

#searchButton:active{
  background-color:#055296;
  border-color: #055296;
}



#weather{
  position: relative;
  font-size: 24px;
  top: 380px;
}


::-webkit-input-placeholder {
   color: white;
}
